<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Travel App - List trip</title>
    <link href="https://fonts.googleapis.com/css2?family=Girassol&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Comic+Neue&display=swap" rel="stylesheet">
</head>

<body>
    <a href="/" class="back btn"><span class="icon">&blacktriangleleft;</span> Back</a>
    <div class="container">
        <h2 id="favorite-trip">
            List of your favorite trip
        </h2>
        <ol id="list-trip"></ol>
    </div>

</body>

</html>